/**
    Name: Kasonde Besa
    Script: styles.css
    Description: Styling for simple JavaScript webApp of rock-paper-scissors that
                 a player can play against AI.
    Date: October 23rd, 2023
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(10, 10, 39);
    font-family: 'Chakra Petch', sans-serif;
    color: white;
}

.container {
    padding: 40px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.gameIntro {
    font-size: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.scoreBoard {
    border: solid 5px;
    border-color: grey;
    height: 150px;
    width: 400px;
    margin: 40px;
    border-radius: 6%;
    display: flex;
}

.user {
    padding: 10px;
    padding-left: 55px;
    text-transform: uppercase;
    font-size: 17px;
    justify-content: center;
    align-items: center;
}

.userScore {
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin-top: 15px;
    border: solid 2px;
    height: 60px;
    width: 80px;
    background-color: white;
    color: black;
    text-transform: lowercase;
    border-radius: 10%;
}

.AI {
    padding: 10px;
    padding-left: 100px;
    text-transform: uppercase;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

.aiScore {
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin-top: 15px;
    margin-left: 8px;
    border: solid 2px;
    height: 60px;
    width: 80px;
    background-color: white;
    color: black;
    text-transform: lowercase;
    border-radius: 10%;
}

#playerScore {
    margin-top: 20px;
    font-size: 25px;
}

#compScore {
    margin-top: 20px;
    font-size: 25px;
}